.panel-mode{
  display: grid;
  grid-template-columns: 3fr 9fr;
}
.panel-nav {
  min-height: 100vh;
  background-color: turquoise;
}
.panel-body {

}
.panel-body > * {

}
.panel-nav ul {
  list-style: none;
  padding: 0;
}
.panel-nav > .panel-accordion > li > span {
  background-color: rgb(5, 76, 76);
  display: block;
  padding: 0.6rem;
  padding-right: 1.5rem;
}
.panel-nav > .panel-accordion > li > ul {
  background-color: red;
  overflow: hidden;
  transition: 0.2s ease-out;
}
.panel-nav > .panel-accordion > li > ul > li {
  padding: 0.4rem;
  padding-right: 2rem;
}
.panel-nav > .panel-accordion > li > ul.is-close {
  height: 0;
}
.panel-nav > .panel-accordion > li > ul.is-open {
  height: auto;
  padding: 0.8rem 0;
}
