.panel-mode {
  display: grid;
  grid-template-columns: 3fr 9fr;
  font-size: 15px;
}
.panel-nav {
  min-height: 100vh;
  max-width: 370px;
}
.panel-nav-light {
  background-color: var(--bg-box-light);
  box-shadow: 3px 4px 12px #00000022;
}
.panel-nav-dark {
  background-color: var(--bg-box-dark);
  box-shadow: 3px 4px 12px #ffffff36;
  border-left: 1px solid #ffffff13;
}

.panel-body {
}
.panel-body > * {
  max-width: 1000px;
  margin: 0rem auto;
  margin-top: 4rem;
}

.panel-nav ul {
  list-style: none;
  padding: 0;
}
.panel-nav-light > .panel-accordion > li > span {
  background: rgb(164, 176, 190);
  background: linear-gradient(
    164deg,
    rgba(164, 176, 190, 0.3) 0%,
    rgba(223, 228, 234, 1) 80%
  );
  display: block;
  padding: 0.6rem;
  padding-right: 1.5rem;
  display: flex !important;
  align-items: center;
  font-size: 1.4rem;
  color: #1f4975;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1rem 0 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.panel-nav-dark > .panel-accordion > li > span {
  background: rgb(22, 26, 66);
  background: linear-gradient(
    189deg,
    rgba(22, 26, 66,.1) 0%,
    rgba(11, 13, 33, .2) 80%
  );
  display: block;
  padding: 0.6rem;
  padding-right: 1.5rem;
  display: flex !important;
  align-items: center;
  font-size: 1.4rem;
  color: #ecf0f1;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1rem 0 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.panel-nav-light > .panel-accordion > li > ul {
  overflow: hidden;
  transition: 0.2s ease-out;
  color: #2d98da;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0.5rem 0.7rem;
  margin: 0 1rem 1rem 1rem;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.panel-nav-dark > .panel-accordion > li > ul {
  overflow: hidden;
  transition: 0.2s ease-out;
  color: #0abde3;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 0.5rem 0.7rem;
  margin: 0 1rem 1rem 1rem;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.panel-nav > .panel-accordion > li > ul > li > * {
  display: flex;
  align-items: center;
}
.panel-nav > .panel-accordion > li > ul > li > * > span {
  padding-right: 0.5rem;
}
.panel-nav > .panel-accordion > li > ul > li > * > span:first-child {
  font-size: 1.5rem;
}
.panel-nav > .panel-accordion > li > ul > li > * > span:nth-child(2) {
  font-size: 1.05rem;
}
.panel-nav > .panel-accordion > li > ul > li {
  padding: 0.4rem;
  padding-right: 2rem;
}
.panel-nav > .panel-accordion > li > ul {
  /* padding: 0.8rem 2rem; */
}
.panel-nav > .panel-accordion > li > ul.is-close {
  height: 0;
  padding: 0;
}
.panel-nav > .panel-accordion > li > ul.is-open {
  height: auto;
}
.accordion-header {
}
.accordion-header > div {
  display: flex;
  align-items: center;
}
.accordion-header > span {
  font-size: 1.4rem;
}
.animate {
  animation: isOpen 0.2s ease-out;
  animation-fill-mode: both;
}
@keyframes isOpen {
  100% {
    transform: rotate(-90deg);
  }
}
.accordion-header .header-icon {
  font-size: 2.4rem;
}
.accordion-header span {
  padding: 0 0.25rem;
}
