.article-loader-box {
  display: flex;

  overflow: hidden;
  align-items: center;
  margin: 1.25rem 1.15rem !important;
  padding: 0.45rem;
}
.article-loader-box > div {
  margin: 1rem;
}
@media screen and (max-width: 700px) {
  .article-loader-box {
    flex-direction: column;
  }
}
