.panel-article-container {
  /* max-width: 750px; */
}
.panel-article-container ul {
  padding: 0;
  list-style: none;
  padding: 2rem 0;
}
.panel-article-container-light > ul .list-header {
  background: rgb(164, 176, 190);
  background: linear-gradient(
    164deg,
    rgba(164, 176, 190, 0.3) 0%,
    rgba(223, 228, 234, 1) 80%
  );
  color: #778ca3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem 0;
  padding-right: 1rem;
  margin: 0 .5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.panel-article-container-dark > ul .list-header {
  background: rgb(22, 26, 66);
  background: linear-gradient(
    189deg,
    rgba(22, 26, 66,.4) 0%,
    rgba(11, 13, 33, .3) 80%
  );
  color: #ecf0f1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem 0;
  padding-right: 1rem;
  margin: 0 .5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.panel-article-container > ul .list-header > span:first-child {
  flex-basis: 22rem;
}
.panel-article-container > ul .list-header > span:nth-child(2) {
  flex-basis: 7rem;
  text-align: center;
}
.panel-article-container > ul .list-header > span:nth-child(3) {
  flex-basis: 5rem;
  text-align: center;
}
.panel-article-container > ul .list-header > span:nth-child(4){
  text-align: center;
}
.panel-article-container > ul {
  margin-top: 5rem;
}
.panel-article-container > ul > li {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}
.panel-article-container-light > ul > li > div.name {
  color: #2d98da;
}
.panel-article-container-dark > ul > li > div.name {
  color: #0abde3;
}
.panel-article-container > ul > li > div.name {
  flex-basis: 23rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* background-color: red; */
}
.panel-article-container > ul > li > div.cat {
  flex-basis: 7rem;
  font-size: 0.95rem;
  text-align: center;
}
.panel-article-container-light > ul > li > div.date {
  flex-basis: 5rem;
  color: #2f3640d0;
  font-size: 0.95rem;
  text-align: center;
}
.panel-article-container-dark > ul > li > div.date {
  flex-basis: 5rem;
  color: #95a5a6;
  font-size: 0.95rem;
  text-align: center;
}
.panel-article-container > ul > li > div.delete{
  text-align: center;
}
.panel-article-container > ul > li > div.edit{
  text-align: center;
}
.panel-article-container > ul > li .delete-btn {
  background-color: #e74c3c;
  border: 0;
  outline: 0;
  color: #ecf0f1ea;
  border-radius: 3px;
  font-size: 1px !important;
}
.panel-article-container > ul > li .edit-btn {
  background-color: #f1c40f;
  border: 0;
  outline: 0;
  color: #00000091;
  border-radius: 3px;
  font-size: 1px !important;
}
.panel-article-container > ul > li > div > button {
  padding: 0.3rem;
}
.panel-article-container > ul > li > div > button > span {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
