.name_en {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  direction: ltr;
}
.post-form {
  width: 30vw;
  min-width: 300px;
}
.post-form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
.post-form > div {
  position: relative;
  margin-top: 0.5rem;
}
.post-form > div > label {
  position: absolute;
  background-color: #ffffff;
  top: -5px;
  right: 12px;
  font-size: 0.95rem;
  padding: 0 3px;
}
.post-form > div > input[type="text"] {
  padding: 0.5rem 0.7rem;
  font-family: myFont;
  border-radius: 3px;
  border: 0;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.post-form > div > input[type="text"]:focus {
  border: 1px solid #1b9cfc;
}
.default {
}

.invalid {
  border-color: red !important;
}

.valid {
  border-color: #27ae60 !important;
}

.error-message {
  color: red;
  font-size: 0.8rem;
}
.dialog-dark {
  background-color: #333;
  color: #fff;
}

.dialog-light {
  background-color: #fff;
  color: #000;
}
