.article-category>ul {
  max-height: 160px;
  overflow-y: scroll;
  scrollbar-width: thin; /* Set the width of the scrollbar */
  

}
@media screen and (max-width: 950px){
  .article-category>ul::-webkit-scrollbar {
display: none;
  
  }
}

.article-category>ul::-webkit-scrollbar {
  width: 7px;
  

}
.article-category>ul::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}
.article-category>ul::-webkit-scrollbar-thumb {
  background-color: #8888886b; /* Set t* Set the border radius of the scrollbar thumb */
}
.article-category>ul::-webkit-scrollbar-thumb:hover {
  background-color: #55555586; /* Set the color of the scrollbar thumb on hover */
}
.article-category-loader {
  padding: 3.6rem 1.5rem !important;
  margin: 2rem;
  margin-top: 1.3rem;
}
.each-category {
  transition: 0.15s ease;
}
.each-category:hover {
  color: #7f8c8d;
}
